@model SkeinGang.AdminUI.Models.DiscordServerDto

@{ var formId = $"model_{Model.Id}"; }
<tr>
    <td style="display: none">
        <form id="@formId" data-model-id="@Model.Id" asp-action="UpdateDiscordServer" method="post">
            <input asp-for="Id" />
        </form>
    </td>
    <td><input form="@formId" asp-for="Id" type="text" disabled /></td>
    <td><input form="@formId" asp-for="ServerName" /></td>
    <td><input form="@formId" asp-for="ServerId" /></td>
    <td><input form="@formId" type="submit" value="Update" disabled /></td>
</tr>
